# ==========================
# Browser / App Data
# ==========================
mozilla/
spotify/
discord/
spicetify/
kdeconnect/
session/
dconf/
pulse/
libaccounts-glib/

# ==========================
# Telemetry / IDE
# ==========================
go/telemetry/
Code - OSS/

# ==========================
# KDE noisy / machine-specific
# ==========================
kactivitymanagerd*
ksmserverrc
kconf_updaterc
kwinoutputconfig.json
kwinrc
kcminputrc
kdeglobals
kde5rc
kglobalshortcutsrc
ktimezonedrc
plasmashellrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
powerdevilprofilesrc
user-dirs.locale

# Kate
katerc
katevirc
kate-externaltoolspluginrc
kate/
kdeglobals

# ==========================
# Runtime / temp / databases
# ==========================
*.log
*.tmp
*.bak
*.lock
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
*.db-shm
*.db-wal

# Cache
.cache/
cache/
Cache/
