@import 'theme.css';


* {
    border: none;
    border-radius: 0px;
    font-family: "GeistMono Nerd Font Propo", sans-serif;
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}